# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.dll

# Virtual environments
.venv/
venv/
ENV/

# Packaging
build/
dist/
**/*.egg-info/
.eggs/

# Testing/coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# IDE/editor
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log
